<div class="margin-5">
  <h2>Lista de Consultas</h2>
  <hr>

  <div class="mat-elevation-z8 margin-5">
    <table mat-table matSort [dataSource]="listConsult" width="100%">

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Descripcion </th>
        <td mat-cell *matCellDef="let element" (click)="viewDetail(element.id)"> {{element.description}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Fecha de consulta </th>
        <td mat-cell *matCellDef="let element" (click)="viewDetail(element.id)"> {{element.date}} </td>
      </ng-container>


      <ng-container matColumnDef="prescription">
        <th mat-header-cell *matHeaderCellDef> Prescripcion </th>
        <td mat-cell *matCellDef="let element" (click)="viewDetail(element.id)"> {{element.prescription}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>

  <button mat-raised-button color="primary" (click)="goRegisterConsult()">Añadir</button>

</div>